<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Equo">
         <property
               name="appName"
               value="Equo">
         </property>
      </product>
   </extension>

</plugin-->

<plugin>
   <extension
         id="com.make.equo.application"
         name="Address Book"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            icon="container_obj.gif"
            thread="any">
         <run
               class="com.make.equo.application.Application">
         </run>
      </application>
   </extension>
    <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.make.equo.application"
            name="Equo">
         <property
               name="appName"
               value="Equo">
         </property>
      </product>
   </extension>
   

</plugin>
